*.in
*.o
/config.*
.deps
/COPYING
/Makefile
/X48
/aclocal.m4
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/missing
/romdump/Makefile
/rpm/x48.spec
/src/Makefile
/src/checkrom
/src/dump2rom
/src/mkcard
/src/x48
/src/x48.man
/stamp-h1
/build-stamp
/configure-stamp
/debian/.debhelper/
/debian/files
/debian/x48.debhelper.log
/debian/x48.substvars
/debian/x48/
